
  body {
    background-color: rgb(16, 22, 24);
  }
  * {
    font-family:monospace;
    font-weight:600;
    line-height: .25;
    te: rgb(197, 208, 211);
  }
  h1.console {
    font-size: 60;
  }
  p.console {
    font-size: x-large;
  }
  p.bottom {
    color: rgb(53, 59, 61);
    font-size: x-large;
    text-align: center;
    font-weight:900;
  }
  div.console {
    margin-top: 40px;
    margin-left: 5px;
    word-spacing: 0%;
  }
  div.sticky {
  position: fixed;
  bottom: 0;
  width: 98.5%;
}
