<style>
  body {
    background-color: rgb(16, 22, 24);
  }
  * {
    font-family:monospace;
    font-weight:600;
    line-height: .25;
    color: rgb(197, 208, 211);
  }
  h1.console {
    font-size: 60;
  }
  p.console {
    font-size: x-large;
  }
  p.bottom {
    color: rgb(53, 59, 61);
    font-size: x-large;
    text-align: center;
    font-weight:900;
  }
  div.console {
    margin-top: 40px;
    margin-left: 5px;
    word-spacing: 0%;
  }
  div.sticky {
  position: fixed;
  bottom: 0;
  width: 98.5%;
}
</style>

<div class="console">
  <h1 class="console">[oops]</h1>
  <p class="console">> that's 404</p>
  <p class="console">> that means that this page does not exist or has been removed</p>
</div>

<div class="sticky">
  <p class="bottom">PentaClips ⭓ 2023</p>
</div>
