  body {
    background-color: rgb(16, 22, 24);
  }
  * {
    font-family:monospace;
    font-weight:600;
    line-height: .25;
    color: rgb(197, 208, 211);
  }
  h1.console {
    font-size: 60;
  }
  p.console {
    font-size: x-large;
  }
  p.bottom {
    color: rgb(53, 59, 61);
    font-size: medium;
    text-align: center;
    font-weight:900;
  }
  div.console {
    margin-top: 5px;
    margin-left: 5px;
    word-spacing: 0%;
  }
  div.sticky {
  position: fixed;
  bottom: 0;
  width: 20%;
  margin-left: 38%;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgb(12, 17, 19);
  transition: .2s;
}

div.sticky:hover {
  background-color: rgb(9, 12, 14);
}
div.post:hover {
  background-color: rgb(9, 12, 14);
}

div.post {
  background-color: rgb(12, 17, 19);
  margin-top: 20px;
  padding: 20px;
  margin-left: 50;
  border-radius: 15px;
  width: 80%;
  transition: .2s;
}

p.post {
  font-size: 14px;
  color: rgb(255, 255, 255);
  opacity: .8;
  line-height: 1;
}
p.post1 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  opacity: .5;
  padding-left: 10px;
  font-weight:200;
}
h1.post {
    font-size:20px;
}
h1.post1 {
    font-size:40px;
    font-weight: bolder;
    padding: 5px;
    padding-left: 20px;
    padding-top: 15px;
}


















div.post2:hover {
  background-color: rgb(9, 12, 14);
}

div.post2 {
  background-color: rgb(12, 17, 19);
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  transition: .2s;
}

p.post2 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  opacity: .8;
  line-height: 1;
}
p.post3 {
  font-size: 16px;
  color: rgb(255, 255, 255);
  opacity: .5;
  padding-left: 10px;
  font-weight:200;
}
h1.post2 {
    font-size:20px;
}
h1.post3 {
    font-size:44px;
    font-weight: bolder;
    padding: 5px;
    padding-left: 20px;
    padding-top: 15px;
}






ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(12, 17, 19);  position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}
  
  li {
float: left;
  }

  li a {
display: block;
color: rgb(127, 138, 141);
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: 0.2s;
font-weight:899;
font-size: large;
}

a {
  text-decoration: none;
}

img.s {
  padding: 14px 16px;
}
  
  li a.active {
    background-color: rgb(197, 208, 211);
    color: rgb(16, 22, 24);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(180, 191, 194);
    color: rgb(16, 22, 24);
  }
